<%
	var error = req.flash('error');
	var warning = req.flash('warning');
	var info = req.flash('info');
	var success = req.flash('success');

	if (this.sails.config.views.flash === 'toastr') {
		var output = Html.script('vendor/toastr/toastr.min.js');
		output += "<script>toastr.options = { positionClass: 'toast-bottom-right' }; </script>"; %>
		<%- output %>
	<% } %>

<% if (this.sails.config.views.flash === 'toastr') { %>
	<% if (!_.isEmpty(error)) { %>
		<%- "<script>toastr.error('" + error + "');</script>" %>
	<% } else if (!_.isEmpty(warning)) { %>
		<%- "<script>toastr.warning('" + warning + "');</script>" %>
	<% } else if (!_.isEmpty(info)) { %>
		<%- "<script>toastr.warning('" + info + "');</script>" %>
	<% } else if (!_.isEmpty(success)) { %>
		<%- "<script>toastr.success('" + success + "');</script>" %>
	<% } %>
<% } else { %>
	<% if (!_.isEmpty(error)) { %>
		<div class="alert alert-danger"><%= error %></div>
	<% } else if (!_.isEmpty(warning)) { %>
		<div class="alert alert-warning"><%= warning %></div>
	<% } else if (!_.isEmpty(info)) { %>
		<div class="alert alert-info"><%= info %></div>
	<% } else if (!_.isEmpty(success)) { %>
		<div class="alert alert-success"><%= success %></div>
	<% } %>
<% } %>
