<div class="list-group">
    <div class="list-group-item list-group-item-info">
        Profile
        <%- Html.link('Edit', { controller: 'user', action: 'edit' }, { icon: 'pencil', class: 'btn btn-xs btn-primary pull-right' }) %>
    </div>

    <div class="list-group-item">
        <div class="row">
            <div class="col-lg-2">Name</div>
            <div class="col-lg-10"><%= user.name %></div>
        </div>
    </div>

    <div class="list-group-item">
        <div class="row">
            <div class="col-lg-2">E-mail</div>
            <div class="col-lg-10"><%= user.email %></div>
        </div>
    </div>
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-info">Authorized Apps</div>
    <% if (appsAuthorized.length === 0) { %>
        <div class="list-group-item">No apps authorized yet</div>
    <% } else { %>
        <% for (var i = 0; i < appsAuthorized.length; i++) { %>
            <div class="list-group-item">
                <span class="list-group-item-heading"><%= appsAuthorized[i].name %></span>
            </div>
        <% } %>
    <% } %>
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-info">
        Developer Apps
        <%- Html.link('Register App', '#', { class: 'btn btn-xs btn-primary pull-right' }) %>
    </div>
    <% if (appsCreated.length === 0) { %>
        <div class="list-group-item">No apps created yet</div>
    <% } else { %>
        <% for (var i = 0; i < appsCreated.length; i++) { %>
            <div class="list-group-item developerApps">
                <span class="list-group-item-heading"><%= appsCreated[i].name %></span>
                (URL: <span class="redirectURI"><%= appsCreated[i].redirectURI.protocol + "://" + appsCreated[i].redirectURI.domain %></span>)

                <button class="btn btn-primary btn-xs pull-right">Edit</button>

                <div class="clientInfo">
                    <div class="clientId">
                        ClientId: <span><%= appsCreated[i].id %></span>
                    </div>

                    <div class="clientSecret">
                        ClientSecret: <span><%= appsCreated[i].clientSecret %></span>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</div>

<script>
    $(document).ready(function(){
        $('.clientInfo').hide();

        $('.developerApps').click(function(){
            $(this).children('.clientInfo').slideToggle();
        });

        $('.clientInfo').click(function(){
            return false;
        });
    });
</script>

<style type="text/css">
    .developerApps {
        cursor: pointer;
    }

    .clientInfo {
        margin-left: 15px;
        margin-top: 8px;
    }
</style>
