<h5>
	<%- Html.link('<i class="fa fa-mail-reply"></i> Back to Login', { controller: 'user', action: 'login' }) %>&nbsp;
</h5>

<%- Html.tag('h2', 'Reset Password') %>

<% if (_.isEmpty(key)) { %>
	<%- Form.create('Password', { method: 'POST', class: 'form-horizontal' }) %>
	<%- Form.input('email', { type: 'text', class: 'focus', 'placeholder': 'Enter Your E-mail'}) %>
	<%- Form.end('Submit') %>

<% } else { %>
	<%- Form.create('Password', { method: 'POST', class: 'form-horizontal' }) %>
	<%- Form.input('new_password', { type: 'password', class: 'focus', 'placeholder': 'Enter Your New Password' }) %>
	<%- Form.input('reenter_new_password', { type: 'password', 'placeholder': 'Re-Enter Your New Password' }) %>
	<%- Form.end('Confirm') %>

	<script type="text/javascript">
		$('#PasswordResetPasswordForm').submit(function(e){
			var err_msg = '<?php echo __('Passwords do not match'); ?>';
			if ($('#PasswordNewPassword').val() != $('#PasswordReenterNewPassword').val()) {
				$('#PasswordReenterNewPassword').closest('.control-group').addClass('error');
				$('#PasswordReenterNewPassword').after($('<span />').addClass('help-inline').html(err_msg));
				return false;
			}
			return true;
		});
	</script>

<% } %>

<script type="text/javascript">
	$(document).ready(function(){
		$('.focus').focus();
	});
</script>
