<div class="panel panel-default">
    <%- Html.div('panel-heading', client.name) %>
    <div class="panel-body">
        <%- Html.tag('h3', client.name + ' is requesting access to your account.') %>
        <%- Form.create('OAuth', { action: "/oauth/decision", method: "post" }) %>
        <%- Form.input('transaction_id', { type: 'hidden', value: transactionID }) %>
        <input type="submit" value="Allow" id="allow" />
        <input type="submit" value="Deny" name="cancel" id="deny" />
        <%- Form.end() %>
    </div>
</div>
